extends layout
block content
    h1.text-center.mb-4= title
    form(method='POST')
        .form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='min. 2 litery' name='name' required value=(undefined===gallery ? '' : gallery.name) )
            label(for='description') Description:
            input#descriptions.form-control(type='text', name='description' value=(undefined===gallery ? '' : gallery.description))
            label(for='date') Date:
            input#date.form-control(type='date', name='date' value=(undefined===gallery ? '' : gallery.date))
            label(for='user') User:
            select#user.form-control(name='user' disabled)
                option(value=owner._id selected) #{owner.name} #{owner.surname}
            input(type='hidden', name='user', value=owner._id)

        button.btn.btn-primary(type='submit') Submit
    if messages && messages.length
        .alert.alert-danger
            ul
                each msg in messages
                    li= msg
